body {
  color: white;
  background-color: #222831;
  text-align: center;
}

h1 {
  font-family: 'Lilita One', cursive;
  font-size: 5.625rem;
  margin-top: 50px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #888888;
}

h4 {
  margin-bottom: 40px;
  color: #2bbc8a;
}

a:hover {
  text-decoration: none;
}

.top-container {
  margin-bottom: 100px;
}

.ioannis-image {
  vertical-align: middle;
  border-style: none;
  float: left;
  max-width: 17%;
  border-radius: 50%;
  margin-right: 30px;
  min-width: 7rem;
}

.contact-methods {
  margin-bottom: 60px;
}

.contact-paragraph {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.fa {
  font-size: 24px;
  margin: auto 10px;
}

.footer .copyright {
  margin-bottom: 0;
  bottom: 0;
  font-size: 11px;
}

.section-style {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.blog-table {
  width: 100%;
}

.blog-date-column {
  color: grey;
  width:1%;
  white-space:nowrap;
  padding-right: 30px
}

.blog-post-column {
  text-align: left;
}

